.navbar-brand {
    font-size: 32px;
}

.card {
    max-width: 24rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
}

li {
    font-size: 14px;
}